.home_page_frame{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home_page_cont{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Home_page_main_frame{
    min-height: 360vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 20vh;
}