

.display_serached_values{
    min-height: 10vh;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: fixed; */
    z-index: 50;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;



    
}

.display_serached_values::-webkit-scrollbar{
    width: 0;
}