.Navbar_frame{
    min-height: 4vw;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 50;
}

@media (max-width:800px){
    .navbar_frame{
        min-height: 10vw;
    }
}